.activity-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity-header {
    margin: 40px 0;
}

.activity-chart {
    width: 100%;
}

ul.recharts-default-legend {
    margin: -85px 20px 0 0 !important;
}

.custom-legend {
    display: flex;
    justify-content: end;
    font-weight: bold;
    color: gray;
    margin-top: -80px;
  }
